body{
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.block {
	float: left;
	width: 33.3%;
	box-sizing: border-box;
	border: 2px solid black;
	text-align: center;
	height: 200px;

}

.colonna {
  float: left;
  width: 33.33%;
  color:white;
  margin-bottom: 65px;
}

.colonna30 {
  float: left;
  width: 30%;
}

.colonna70 {
  float: left;
  width: 70%;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

.fotoprofilo {
	border-style: solid;
	width: 24px;
	height: 24px;
	position: fixed;
}

.fotoprofiloimg {
	width: 50px;
	height: 32px;
	
}

.icona {
	width: 50%;
}

#main-header{
	background-color:yellow;
	color:#c0d6e4;
    text-align: center;
}

#navbar{
	background-color:#fed001;
	color:#fff;
	text-align: center;
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:black;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}

#showcase{
	background-image:url('images/sky.png');
	background-repeat: no-repeat;
	background-position:center;
	min-height:600px;
	margin-bottom:30px;
}

#showcase h1{
	color:#fff;
	font-size:50px;
	line-height: 1.6em;
	padding-top:30px;
}

#main{
	float:left;
	width:100%;
	box-sizing: border-box;
}

#main h1 {
	text-align: center;
	font-size: 40px;
}

#sidebar{
	float:right;
	width:30%;
	background: #333;
	color:#fff;
	padding:10px;
	box-sizing: border-box;
}

#main-footer{
	background: #333;
	color:#fff;
	text-align: center;
	padding:20px;
	margin-top:40px;
}

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;

	}

}
@media only screen and (max-width: 832px) {
  /* For mobile phones: */
  .colonna {
    width: 100%;
  }
  .colonna30 {
    width: 100%;
  }
  .colonna70 {
    width: 100%;
  }
  .icona {
  	width:30%;
  }
  .bipartizione {
  	overflow:hidden;
  }
}


#testoManifesto {
	margin: 40px;
}

.bipartizione {
	text-align: center;
	background-image:url('images/sky.png');
	margin-bottom:20px;
	overflow: hidden;
}

.tripartizione {
	/*min-width: 1070px;
	height:600px;*/
	text-align: center;
	background-image:url('images/showcase.jpg');
	background-position: bottom right;
}

.titoloSezione {
	padding-top:20px;
}

.contattaci {
	padding:30px;
}

.contattaci input[type="text"], .contattaci textarea {
	width: 100%;
}

.form-group {
	padding-bottom: 15px;
}

#deMauro {
	font-size: 20px; 
	text-align: left; 
	margin: auto;
	padding: 20px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #fed001; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
